// purple primary
$purpleDark : #4a0072;
$purpleLight : #ae52d4;
$purpleBase : #7b1fa2;

// yellow secondary
$yellowDark : #c79100;
$yellowLight : #fff350;
$yellowBase : #ffc107;

// grey 
$greyDark : #E1E2E1;
$greyLight : #F5F5F6;
$text : #333334;
